<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Restaurant
    </ion-title>
    <ion-button [routerLink]="['/add-restaurant']"><ion-icon slot="start" name="add"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Restaurant</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
