<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Restaurant
    </ion-title>
    <ion-button [routerLink]="['/add-restaurant']"><ion-icon slot="start" name="add"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Input Items -->
<ion-list>
  <ion-item *ngFor="let restaurant of restaurants">
    <ion-label [routerLink]="['/about-restaurant', restaurant.id]">{{ restaurant.name }}</ion-label>
    <ion-buttons>
      <ion-button [routerLink]="['/edit-restaurant', restaurant.id]" >
        <ion-icon slot="start" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>
</ion-content>