<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search Restaurants
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-searchbar [(ngModel)]="search" (ngModelChange)="searchRests()" color="success"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let restaurants of searchRest">
      <ion-label>{{restaurants.name}}</ion-label>
      <ion-buttons>
        <ion-button [routerLink]="['/details',restaurants.id]">
          <ion-icon slot="start" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>